@require 'var'

@require 'reset'
@require 'row'
@require 'ipt'
@require 'btn'
@require 'brick'
@require 'modal'
@require 'text'
@require 'score'
@require 'opt'
@require 'space'
@require 'full'
@require 'valign'
@require 'flex'
@require 'animation'
@require 'confirm'