[ai-brick]
  font-size 0
  >*
    display inline-block
    box-sizing border-box
    font-size $fontSize
brick(n)
  for v in n
    [ai-brick~={"'"+v+"'"}]
      >*
        width (1/v)*100%
      &[ai-brick~='md']
        >*
          padding 0 7.5px
          &:nth-child({v}n+1)
            padding-left 0
          &:nth-child({v}n)
            padding-right 0
brick(1 2 3 4 5)