[ai-confirm]
  .inner
    article
      background white
      margin 0 40px
      border-radius $borderRadius
      .msg
        padding 18px 12px
        line-height 1.7
      [ai-row]
        border-top solid 1px $grayLight
        color $success
        line-height 45px
        [ai-col]
          border-right solid 1px $grayLight
          &:last-child
            border-right none