[ai-flex]
  display flex
  align-items center
  >[ai-cell]
    flex auto
  for n in 1..10
    >[ai-cell~={"'"+n+"'"}]
      flex n
[ai-flex~='row reverse']
  flex-direction row-reverse
[ai-flex~='vertical']
  flex-direction column
[ai-flex~='vertical reverse']
  flex-direction cloumn-reverse  
[ai-flex~='wrap']
  flex-wrap wrap
[ai-flex~='wrap reverse']
  flex-wrap wrap-reverse
[ai-flex~='start']
  align-items flex-start
[ai-flex~='end']
  align-items flex-end
[ai-flex~='stretch']
  align-items stretch 
[ai-flex~='center']
  justify-content center
[ai-flex~='space']
  justify-content space-around
[ai-flex~='aside']
  justify-content space-between