label[ai-opt]
  position relative
  >div
    background white url(../assets/images/unchecked.png) no-repeat 5px 5px
    background-size 10px auto
    line-height 50px
    border solid 1px $grayLight
    border-radius $borderRadius
    color $grayDark
  input
    opacity 0
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    &:checked+div
      border-color $primary
      background-image url(../assets/images/checked.png)