:root
  font-family Arial,"Microsoft Yahei","Helvetica Neue",Helvetica,sans-serif
  font-size 62.5%
  color $plain
  line-height $lineHeight
  height 100%
  position relative
  min-height 100%
  box-sizing border-box
  max-width 500px
  margin auto
  background $grayLightest
body
  margin 0
//iphone6
@media (max-width:320px)
//iphone4s
  :root
    font-size 52%
input
button
select
textarea
  font-size inherit
  color inherit
a
  text-decoration none
  color inherit