[ai-text~='left']
  text-align left
[ai-text~='center']
  text-align center
[ai-text~='right']
  text-align right
[ai-text~='sm']
  font-size 1.4rem
[ai-text~='md']
  font-size 1.6rem
[ai-text~='lg']
  font-size 1.8rem
[ai-text~='xl']
  font-size 2.0rem
[ai-text~='xxl']
  font-size 2.2rem
[ai-text~='xxxl']
  font-size 2.4rem
[ai-text~='bold']
  font-weight bold
[ai-text~='white']
  color white
[ai-text~='primary']
  color $primary
[ai-text~='gray']
  color $gray
[ai-text~='attention']
  color $attention
[ai-text~='success']
  color $success
[ai-text~='indent']
  text-indent 2em
[ai-text~='indent-1']
  text-indent 1em