//variables
$grayLightest = #f8f8f8
$grayLighter = #eee
$grayLight = #d7d7d7
$gray = #999
$grayDark = #666

$attention = red
$warning = #f0ad4e
$success = #057afa
$danger = #eb6100
$info = #5bc0de

$primary = #fedf55
$plain = black
$secondary = #400003

$fontSize = 16px
$borderRadius = 8px
$lineHeight = 1.4

$faster = .2s
$fast = .4s
$fit = .6s
$slow = .8s
$slower = 1s